.container .card {
  font-size: 14x;
  border-radius: 8px;
  color: #0D3B5D;
}

.container .card h2 {
  text-align: center;
}

.container .card input:focus,
.container .card button:focus {
  outline: none;
  box-shadow: none;
}

.container input::placeholder {
	font-size: 14px;
}

.container .card button:hover {
  background-color: #0D3B5D;
}